@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PrimeFitness</h1>
    <p class="lead">An app for your fitness goals</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>As User1: Add standard workout</h2>
        <p>
            You will have the view as user1 (a test user we created). You can add a standard workout to your own workouts.
        </p>
        <p><a class="btn btn-default" href="/Home/AddWorkout">Get started</a></p>
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">

    </div>
</div>